<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Blog{% endblock %}</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div class="row">
      <div class="span4 offset4">
        <div class="well">
          <legend>Sign in to WebApp</legend>
          <form method="POST" action="" accept-charset="UTF-8">
              <div class="alert alert-error">
                  <a class="close" data-dismiss="alert" href="#">x</a>Incorrect Username or Password!
              </div>
              <input class="span3" placeholder="Username" type="text" name="username">
              <input class="span3" placeholder="Password" type="password" name="password">
              <label class="checkbox">
                  <input type="checkbox" name="remember" value="1"> Remember Me
              </label>
              <button class="btn-info btn" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
